<!--
Black hole
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Black Hole</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400">
    <link rel="stylesheet" href="https://vpassets.infinityfree.net/welcome2024/style.css">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<style>

    html {
  scroll-behavior:smooth;
}

    .themainreason {
        background-color: gold;
        border-radius: 5px;
        border: 5px gold groovy;
        color: white;
        padding: 5px;
        margin: 10px;
    }
    .feature-the-main-reason-title {
        
        text-align: center;
    }

    .footerlogo {
        font-size: 36px;
        color: #aaa;
        font-family: 'Plus Jakarta Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
</style>

</head>
<body>

    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-inner">
                    <div class="hero-copy">
                        <h1 class="hero-title h2-mobile mt-0">
                            Black Hole
                        </h1>
                        <p class="hero-paragraph">
                            A "black hole" where requests will be discarded.
                        </p>
                        <p class="hero-cta">
                            <a class="button button-primary button-shadow" href="#wminbh">
                                Why might I need a black hole?
                            </a>
                        </p>
                    </div>
                    <div class="hero-illustration">
                        <img src="https://vpassets.infinityfree.net/welcome2024/hero-illustration.svg" alt="Illustration">
                    </div>
                </div>
            </div>
        </section>

        <section class="features section text-center">
            <div class="section-square"></div>
            <div class="container">
                <div class="features-inner section-inner">
                    <div class="features-wrap">
                        <div class="feature">
                            <div class="feature-inner">
                                <h4 class="feature-title h3-mobile">Send a request.</h4>
                                <p class="text-sm">
                                    Send a non-GET request to <strong class="path-var">https://blackhole-3khh.onrender.com</strong> in your code.
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="feature-inner">
                                <h4 class="feature-title h3-mobile">What Black Hole does</h4>
                                <p class="text-sm">
                                    Black Hole does nothing but return a status of 200. Data that is sent to it is not stored or used in any way and is just discarded.
                                </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="feature-inner">
                                <h4 class="feature-title h3-mobile">GET requests</h4>
                                <p class="text-sm">
                                    You must make a request that isn't a GET request or it will reply with this page.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pricing section" id="wminbh">
            <div class="section-square"></div>
            <div class="container">
                <div class="pricing-inner section-inner has-top-divider">
                    <h2 class="section-title mt-0 text-center">Why you might need to use Black Hole</h2>
                    <div class="pricing-tables-wrap">
                        <div class="pricing-table">
                            <div class="pricing-table-inner">
                                <div class="pricing-table-main">
                                    <h4 class="feature-title h3-mobile">Example/Illustrative Purposes</h4>
                                    <p class="text-sm">
                                        You can use Black Hole as an example for a POST or whatever request. In the future, we might buy the domain <b>blackhole.xyz</b> to be more simple. (Don't go to this domain yet.)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-table">
                            <div class="pricing-table-inner">
                                <div class="pricing-table-main">
                                    <h4 class="feature-title h3-mobile feature-the-main-reason-title"><span class="themainreason">THE MAIN REASON</span><br> Discarding Data</h4>
                                    <p class="text-sm">
                                        If you ever have some data you have to POST somewhere, but just want to POST it nowhere without getting a 405 HTTP error, you can use Black Hole. You'll get a 200 OK status so it won't throw an error in your code if you have a check for if the response isn't OK.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-table">
                            <div class="pricing-table-inner">
                                <div class="pricing-table-main">
                                    <h4 class="feature-title h3-mobile">Why I needed Black Hole</h4>
                                    <p class="text-sm">
                                        Black Hole was created because the founder needed something like Black Hole because he needed to send a request to nowhere, but it had to be a POST request. Example.com gave a 405 error, and he was trying to make an example webpage that made a POST request to nowhere and actually worked.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer text-light">
        <div class="container">
            <div class="site-footer-inner has-top-divider">
                <div class="brand footer-brand">
                    <a href="https://rafdo.rf.gd">
                        <h1 class="footerlogo">rafdo</h1>
                    </a>
                </div>
                <ul class="footer-links list-reset">
                    <li>
                        <a href="https://imagequest.rafdo.rf.gd">ImageQuest</a>
                    </li>
                    <li>
                        <a href="https://comskymedia.bettermode.io">ComSky Media</a>
                    </li>
                    <li>
                        <a href="https://foxsrandomthoughts.wordpress.com">Fox's Random Thoughts</a>
                    </li>
                </ul>
                <ul class="footer-secondary-links list-reset">
                    <li>
                        <a href="https://rafdo.rf.gd">
                            Visit Rafdo today!
                        </a>
                    </li>
                </ul>
                
                    <div class="footer-copyright">
                        Note: Black Hole requests may take very long to be sent, because we use the free tier of Render hosting.
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>
